@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1E40AF;
  --color-accent: #38BCD4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #0F172A;
  background-color: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
